<section id="header">
	<div class="container">
		<div class="row">
			
			<div class="col-md-3 text-center">
				<nav>
					<h2 class="hidden">Navigation</h2>
					<%= image_tag 'logo.png', alt:'Kristiana Vellucci Design Logo'%>
					<ul class="text-center">
						<li><a href="#">About</a></li>
						<li><a href="#">Work</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
					<a href="#">
						<div class="row nav-cta">
							<div class="col-md-3">
								<p>Rocket</p>
							</div>
							<div class="col-md-9 text-left">
								<p>Questions/Comments?</p>
								<p class="supporting-text">Let me know!</p>
							</div>
						</div>
					</a>
				</nav>
			</div>

			<div class="col-md-9 text-center">
				<h1>Hello World</h1>
			</div>
		</div>
	</div>
</section>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="#" class="rotate blog-link">Read My Mind</a>
				<%= image_tag 'self.png', alt:'Kristiana Vellucci Illustration'%>
			</div>
			<div class="col-md-6">
				<h2>Hey, I'm Kristiana! Welcome to my portfolio!</h2>
				<div class="pink-divide"></div>
				<p>
					Clearly I don’t do very much because my current site kind of sort of really doesn’t exist. Maybe one day I’ll actually do work on my personal site. I’ll be in Europe until the middle of May. I’m mentioning that here so when I look back and realize how hard I loafted I’ll feel pretty bad about stuffs.
				</p>
				<p>
					Clearly I don’t do very much because my current site kind of sort of really doesn’t exist. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="#">View My Resume</a>
			</div>
		</div>
	</div>
</section>

<section id="featured-work">
	<div class="container">
		<div class="col-md-5">
			<h2>Recent Work</h2>
			<p>Do you believe in outerspace? I'm not sure I do, but I believe aliens live amongst us.</p>
			<div class="feature-navigation">
				<h3>Other Pieces</h3>
				<div class="row">
					<div class="col-md-2 feature-thumb">
						<h4>Piece 1</h4>
					</div>
					<div class="col-md-2 feature-thumb">
						<h4>Piece 2</h4>
					</div>
					<div class="col-md-2 feature-thumb">
						<h4>Piece 3</h4>
					</div>
					<div class="col-md-2 feature-thumb">
						<h4>Piece 4</h4>
					</div>
					<div class="col-md-2 feature-thumb">
						<h4>Piece 5</h4>
					</div>
					<div class="col-md-2 feature-thumb">
						<h4>Piece 6</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="feature-preview"></div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>What I Can Do</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img src="#" alt="Branding Icon">
				<h3>Branding</h3>
				<ul>
					<li>Brand Identity</li>
					<li>Style Guide</li>
					<li>Corporate Identity</li>
					<li>Logo Design</li>
					<li>Social Media Marketing</li>
				</ul>
			</div>
			<div class="col-md-3">
				<img src="#" alt="Branding Icon">
				<h3>Interactive</h3>
				<ul>
					<li>Print and Editorial</li>
					<li>Web and Interactive</li>
					<li>Mobile Applications</li>
					<li>Packaging</li>
					<li>Infographics</li>
				</ul>
			</div>
			<div class="col-md-3">
				<img src="#" alt="Branding Icon">
				<h3>Development</h3>
				<ul>
					<li>UX/UI Design</li>
					<li>CMS</li>
					<li>HTML5</li>
					<li>CSS3/OOCSS/SCSS</li>
					<li>Javsacript</li>
				</ul>
			</div>
			<div class="col-md-3">
				<img src="#" alt="Branding Icon">
				<h3>Creative</h3>
				<ul>
					<li>Illustration</li>
					<li>Digital Painting</li>
					<li>Oil Painting</li>
					<li>Art Prints</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="recent">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Recent Posts</h2>
				<ul>
					<li>
						<div class="row">
							<div class="col-md-3">
								<p class="day">25</p>
								<p class="month">April</p>
							</div>
							<div class="col-md-9">
								<h3>Inspired by Andy Denzler</h3>
								<p class="category">Category, category</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-md-3">
								<p class="day">14</p>
								<p class="month">May</p>
							</div>
							<div class="col-md-9">
								<h3>Bridging the (Gender) Gap</h3>
								<p class="category">Category, category</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-md-3">
								<p class="day">17</p>
								<p class="month">February</p>
							</div>
							<div class="col-md-9">
								<h3>5 Reasons All Freelancers Should...</h3>
								<p class="category">Category, category</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h2>Recent Clients</h2>
				<div class="clients">
					<div class="row">
						<div class="col-md-4">
							<img src="#" alt="DevLdn">
						</div>
						<div class="col-md-4">
							<img src="#" alt="Oakview Appraisals">
						</div>
						<div class="col-md-4">
							<img src="#" alt="Prana Homeopathy">
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<img src="#" alt="Upcycle Bowties">
						</div>
						<div class="col-md-4">
							<img src="#" alt="Moss Digital">
						</div>
						<div class="col-md-4">
							<img src="#" alt="Kitco Metals">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="resume">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Interested in learning more?</h2>
				<a href="#">My Resume</a>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Be Heard</h2>
				<a href="#">Get in Touch</a>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<img src="#" alt="Logo">
			</div>
			<div class="col-md-9">
				<ul>
					<li>Portfolio</li>
					<li>About</li>
					<li>Contact</li>
					<li>Blog</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<ul>
					<li>LinkedIn</li>
					<li>Pinterest</li>
					<li>Instagram</li>
					<li>Wordpress</li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="col-md-3">1</div>
				<div class="col-md-3">2</div>
				<div class="col-md-3">3</div>
				<div class="col-md-3">4</div>
			</div>
		</div>
	</div>
</footer>