$brown: #3B1510;
$beige: #EAB896;
$red: #A51919;

/* Brand Typography */
$brand-primary: 'Kanit', sans-serif;
$brand-secondary: 'Abril Fatface', cursive;
$brand-body: 'Lato', sans-serif;

/* Brand Colours */
$accent: #e5245d;
$dark-grey: #333333;
$mid-grey: #969696;
$light-grey: #f1f1f1;
